/* src/pages/Home.css */

.home-page {
  /* Header 높이(70px)를 고려하여 상단 여백을 지정 */
  padding-top: 70px;
  padding: 20px;
  text-align: center;
  font-family: 'HSYuji-Regular', sans-serif;
  position: relative;
}

.home-content {
  margin-bottom: 80px; /* FloatingButton과 겹치지 않도록 */
}

.get-compliment-button {
  padding: 10px 20px;
  background-color: #ffcc00;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-family: 'HSYuji-Regular', sans-serif;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.get-compliment-button:hover {
  background-color: #ffdb4d;
}
